[submodule "vendor/json-c"]
	path = vendor/json-c
	url = https://github.com/json-c/json-c.git
	branch = json-c-0.17
[submodule "vendor/nng"]
	path = vendor/nng
	url = https://github.com/nanomsg/nng.git
[submodule "vendor/threads"]
	path = vendor/threads
	url = https://github.com/evo-i/threads.git
[submodule "vendor/utest"]
	path = vendor/utest
	url = https://github.com/sheredom/utest.h.git
